<h1>Annual budget</h1>

<%=raw render_table(@budget_table, :id => 'annual-budget') %>

<hr/>
<div id="budget-by-source" class="chart"></div>
<div id="annual-evolution-of-total-budget" class="chart"></div>

<script type="text/javascript">
$(function() {
  var data = <%=raw @total_by_source.inspect %>

  $.jqplot('budget-by-source', [data], {
    title: 'All budgets by Source',
    seriesDefaults:{renderer:$.jqplot.PieRenderer, rendererOptions:{sliceMargin:3, lineLabels: true}}
  });
});
</script>

<script type="text/javascript">
$(function() {
  var data = <%=raw @total_by_year.map {|pair| pair[1]}.inspect %>

  $.jqplot('annual-evolution-of-total-budget', [data], {
    title: 'Annual evolution of total budget',
    seriesDefaults: {
      renderer:$.jqplot.BarRenderer,
      rendererOptions: { barPadding: 8, barMargin: 20 }
    },
    axes: {
      xaxis: {
        renderer: $.jqplot.CategoryAxisRenderer,
        ticks: <%=raw @total_by_year.map {|pair| pair[0]}.inspect %>
      },
      yaxis: {min: 0}
    }
  });
});
</script>

