%h1 FINANSI

%ul#menu
  =link_to 'Manage budgets', budgets_path
  =link_to 'Reports', report_budgets_path
  =link_to 'Manage sources', sources_path
  =link_to 'Manage budget items', budget_items_path

